<launch>
    <!--Launch robot-->
    <include file="$(find smb)/launch/smb.launch">
        <arg name="launch_tracking_cam" value="true"/>
    </include>

    <!--Object detector-->
    <include file="$(find object_detection)/launch/object_detection.launch"/>

    <!--Exploration-->
    <include file="$(find smb_exploration)/launch/frontier/smb_rss_frontier.launch">
        <arg name="map_frame" value="gmap_map"/>
        <arg name="publish_odom_to_map" value="true"/>
    </include>

    <!--Planner-->
    <include file="$(find smb_navigation)/launch/navigate2d_ompl.launch">
        <arg name="global_frame" value="gmap_map"/>
        <arg name="exploration" value="true"/>
    </include>
</launch>
