<launch>
    <arg name="sim" default="true"/>
    <arg name="data_path" default="$(find smb_navigation)/data/simulation"/>
    <arg name="tracking_camera" default="false"/>
    <arg name="pcd_file_path" default="$(arg data_path)/map.pcd"/>

    <!--Sim-->
    <include file="$(find smb_gazebo)/launch/sim.launch" if="$(arg sim)">
        <arg name="keyboard_teleop" value="true"/>
        <arg name="launch_gazebo_gui" value="true"/>
        <arg name="world" value="challenge_rss2023_team5_v1"/>
        <arg name="tracking_camera" value="$(arg tracking_camera)"/>
    </include>

    <!--Launch robot-->
    <group unless="$(arg sim)">
        <include file="$(find smb)/launch/smb.launch">
            <arg name="launch_tracking_cam" value="$(arg tracking_camera)"/>
        </include>
    </group>

    <!--Launch localization in prior map-->
    <include file="$(find smb_slam)/launch/localization.launch">
        <arg name="pcd_file_path" value="$(arg pcd_file_path)"/>
    </include>

    <!--Publish initial pose close to tent-->
    <node pkg="team5" name="pub_initial_pose" type="pub_initial_pose.py" output="screen"/>

    <!--Object detector-->
    <include file="$(find object_detection)/launch/object_detection_sim.launch"/>
</launch>
